:root {
  --primary-color: hsl(185, 75%, 39%);
  --secondary-color: hsl(229, 23%, 23%);
  --tertiary-color: hsl(227, 10%, 46%);
  --neutral-color: hsl(0, 0%, 59%);
  --white-color: white;
}

body {
  padding: 20px;
  background-color: var(--primary-color);
  background-image: url(images/bg-pattern-bottom.svg),
    url(images/bg-pattern-top.svg);
  background-position: 25vh 60vh, -15vh -15vh;
  background-size: 350px, 300px;
  background-repeat: no-repeat;
  font-family: "Kumbh Sans", sans-serif;
}

.card {
  position: relative;
  transform: translateY(30%);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  max-width: 334px;
  background-color: var(--white-color);
}
.background-card {
  max-width: 334px;
  height: min-content;
  border-radius: 15px 15px 0px 0px;
}
.user-image {
  position: relative;
  border-radius: 50%;
  width: min-content;
  height: min-content;
  align-self: center;
  border: 5px solid var(--white-color);
  transform: translateY(-50%);
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transform: translateY(-80%);
}
.user-name {
  font-weight: 700;
  font-size: 18px;
}
.user-age {
  margin-left: 5px;
  font-weight: 400;
  color: var(--tertiary-color);
}
.user-country {
  margin-top: 10px;
  color: var(--neutral-color);
}

.profile-info {
  padding: 20px 40px;
  display: flex;
  height: min-content;
  justify-content: space-between;
}

.profile-follows,
.profile-likes,
.profile-phothos {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

.profile-follows span,
.profile-likes span,
.profile-phothos span {
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  letter-spacing: 2px;
  color: var(--neutral-color);
}
